body {

  color: #666666;

}

.circle {
  background: #6edd62;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  color: #00aa00;
}

//TODO a tag ar invisible unless yyou hover over them, this is a temporar fix
a {
  color: #505050;
  font-weight: bold;
}

#createrecipe_preparationInstructions {
  width: 50%;
  height: 50px;
  resize: none;
}

label {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.center-div {
  float: none;
  margin: 0 auto;
}
//for notification button
.new-notifications {
  color: red;
}
//new-sub-notifications for notifications links
.ns-notifications{
  background-color: #e5e5ff;
}

.sidebar {
  float:right;
  width:200px;
  padding:40px;
  background:#99c;
  right: 0;
  top: 0;
  position:fixed;
  height:100%;
}