body{

  color: #666666;

}

.circle {
  background: #6edd62;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height:100px;
  text-align:center;
  color: #00aa00;
}
//TODO a tag ar invisible unless yyou hover over them, this is a temporar fix
a{
  color: #505050;
  font-weight: bold;
}
#createrecipe_preparationInstructions{
  width: 50%;
  height: 50px;
  resize: none;
}
label{text-align:center;
  vertical-align:middle;
  display:table-cell;
}