{% extends "NfqNomNomBundle:Default:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}


    <div id="createdRecipeBox">
        <div id="createdRecipe">
            <br>
            {{ form_start(forma, {'attr': {'class': 'well span6' }}) }}
            {{ form_widget(forma) }}
            {{ form_end(forma) }}
        </div>
    </div>
{% endblock %}