{% extends "NfqNomNomBundle:Default:index.html.twig" %}
{% block content %}
    {{ error }}
    <br>
    <div class="myEvent">
        {{ form(forma) }}
    </div>
    {#generated content displaying#}
{% endblock %}