#myEvent {
    background:#F0B537;
    margin: 0 auto;
    width: 1200px;
    padding: 20px;
}

.buttonBox {
    background: #830C0C;
    padding: 6px;

    border-radius: 10px;
    color: rgb(255, 234, 208);
    width: 155px;
}

.eventBox {
    width: 1200px;
    margin: 0 auto;
    background:#F0B537;
}

.createdDate {
    float: left;
    width: 560px;
    height: 40px;
    text-align: center;

}

.eventDate {
    width: 560px;
    height: 40px;
    float: right;
    text-align: center;

}

.DateBox {
    padding: 10px;

}

.personsBox {
    width: 1200px;
    padding: 40px;
    background:#F0B537;

}

.recipesBox {
    width: 1200px;
    padding: 0 40px;
    background:#F0B537;
}

.infoBox {
    text-align: center;
    font-size: 16px;
    padding: 20px;
    background:#F0B537;
}

.readyBox {
    width: 1200px;
}

#actionBox {
    width: 1200px;
    height: auto;
    background:#F0B537;
}

.endPhase {
    width: 1200px;
    height: auto;
    background:#F0B537;
    padding: 20px;
}

.addNew {
    width: 1200px;
    height: auto;
    background:#F0B537;
    padding: 20px;
    margin: 0 auto;
}

.listGroup {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}

.listGroup2 {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

#notificationsBox {
    width: 1200px;
    height: auto;
    background:#F0B537;
    padding: 20px;
    margin: 0 auto;
}
