body{

    margin: 20px;
    background-image: url('background.png');
}

#secondBody{
    height: 700px;
    width: 1000px;
    margin: 0 auto;
    background: #F0B537;
    opacity: 0.5;
}

#header{
    width: 1200px;
    margin: 0 auto;
    background: url('2c22.jpg');
    border: 1px solid #5A1F1F;
    height: 42px;
    background-repeat: no-repeat;
    background-size: cover;

}

#header li{
    width: 150px;
    text-align: center;
    color:  #FDE8B2;
}

#header a{
     color: #FDE8B2;
     font-weight: bold;
 }

#header a:hover{
    color: #9f0905;
    font-weight: bold;
    background: #F0B537;
    border:none;
}

#logo{
    background: url("nomnom.png");
    background-position: 0 -12px;
    margin: 0 auto;
    background-repeat: no-repeat;
    height: 155px;
    width: 690px;
}

#logoBox{
    height: 155px;
    margin: 0 auto;
    width: 1200px;
    background: rgb(255, 234, 208);
    opacity: 0.87;
}

#loginAs{
    margin: 10px auto;
    width: 150px;
    height: 20px;
    text-align: center;
}

#buttons{
    margin:0 auto;
}

#quoteBody{

    background-color: #F0B537;
    height: 200px;
    margin: 0 auto;
    width: 1200px;
}

#quote{
    font-size: 17px;
    font-style: italic;
    padding: 90px;
    text-align: center;
}
