body {
    width: 100%;
    height: 100%;
}

#recipeBoxSmall {
    height: 325px;
    width: 250px;
    float: left;
    margin: 40px;
    box-shadow: 3px -3px 17px -3px black;
    border-radius: 5px;
}

#recipePhotoBoxSmall {
    height: 250px;
    width: 250px;
    background-size: auto 250px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
    float: none;
}

#main {
    width: 1000px;
    height: 1200px;
    margin: 0 auto;

}


h2 {
    font-size: 45px;
    text-align: center;
    font-family: "Lucida Sans Unicode";
    font-style: italic;
    margin: 0;
    padding: 50px;
}

#textBox {
    height: 55px;
    margin: 10px;
    text-align: center;
    width: 230px;
    font-size: 20px;
    font-style: italic;
    font-family: "Lucida Sans Unicode";
    color: black;
}
/*
a {
    color: transparent;
    text-decoration: none;
}*/

#pagination{
    text-align: center;
    margin: 20px;
}

#pagination a{
    color:black;
    font-size: 16px;
}

#backgroundRecipeList {
    background: #F0B537;
    width: 1200px;
    margin: 0 auto;
    height: 1400px;
}