body {
    width: 100%;
    height: 100%;
}

#recipeBox {
    height: 325px;
    width: 250px;
    float: left;
    margin: 40px;
    box-shadow: 3px -3px 17px -3px black;
    border-radius: 5px;
}

#recipePhotoBox {
    height: 250px;
    width: 250px;
    background-size: auto 250px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
    float: none;
}

#main {
    width: 1000px;
    height: auto;
    margin: 0 auto;

}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: "Lucida Sans Unicode";
    font-style: italic;
}

#textBox {
    height: 55px;
    margin: 10px;
    text-align: center;
    width: 230px;
    font-size: 20px;
    font-style: italic;
    font-family: "Lucida Sans Unicode";
    color: black;
}

a {
    color: transparent;
    text-decoration: none;
}

