{% extends "NfqNomNomBundle:Default:index.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="EditBox">
    <form action="{{ path('Nfq_nom_nom_profile') }}" {{ form_enctype(form) }} method="POST"
          class="formBox">
        {{ form_widget(form) }}
        <div style="padding: 5px">
            <input class="profileButton" type="submit" value="{{ 'change_password.submit'|trans }}"/>
        </div>
    </form>
    </div>
{% endblock %}