{% extends "NfqNomNomBundle:Default:index.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <form action="{{ path('Nfq_nom_nom_profile') }}" {{ form_enctype(form) }} method="POST"
          class="well fos_user_change_password">
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}"/>
        </div>
    </form>
{% endblock %}