{% extends "NfqNomNomBundle:Default:index.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock content %}
